<launch>

<node name="imu_bmp" pkg="imu" type="captureBMP.py" output="screen" >
    <param name="deviceLocation" value="/sys/bus/i2c/drivers/bmp085/2-0077" />        
    <param name="tempProbe" value="/temp0_input" />
    <param name="presProbe" value="/pressure0_input" />
    <param name="rateHz" value="5" />
    <param name="outputTemp" value="/imu/temp" />
    <param name="outputPres" value="/imu/pres" />
</node>

</launch>

