<launch>

<node name="irobot_create" pkg="create" type="create_driver" output="screen" >
	<param name="dev" value="/dev/ttyS1" />
	<param name="latch_cmd_duration" value="1000.0" />
	<param name="safety" value="True" />
    <param name="rate" value="50.0" />
    <param name="serial_mode" value="streaming" />
</node>

<node name="odometry" pkg="create" type="create_odometry" output="screen" >
	<param name="input_joints" value="/irobot_create/joints" />
	<param name="input_imu" value="/imu/data" />
	<param name="publish_tf" value="True" />
	<param name="queue_size" value="10" />
</node>

<node name="imu_acc_gyro" pkg="imu" type="imu_capture_acc_gyro" output="screen">
    <param name="output" value="/imu/data_raw" />
    <param name="device_acc" value="/dev/lsm303d_acc" />
    <param name="device_gyro" value="/dev/l3gd20_gyr" />
    <param name="rate" value="0.0" />
    <param name="frame_size" value="1" />
</node>

<node name="imu_mag" pkg="imu" type="imu_capture_mag" output="screen">
    <param name="output" value="/imu/mag" />
    <param name="device" value="/dev/lsm303d_mag" />
    <param name="rate" value="0.0" />
    <param name="frame_size" value="1" />
    <param name="calibrate" value="True" />
</node>

<node name="madgwick" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen" >
    <param name="world_frame" value="nwu"/>
    <param name="use_mag" value="True"/>
    <param name="use_magnetic_field_msg" value="True"/>
    <param name="publish_tf" value="True"/>
    <param name="reverse_tf" value="False"/>
    <param name="fixed_frame" value="odom"/>
    <param name="publish_debug_topics" value="False"/>
    <param name="stateless" value="False"/>
</node>

</launch>